{% extends "main.html.twig" %}

{% block banner %}

    <div class="w-100" style="height: 400px; 
                                overflow: hidden;
                                background-image: url('afbeeldingen/boodschappenlijst.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center center;">
    </div>
        <div class="carousel-text">
            <div class="row">
                <div class="col-md-6">
                    <a href="index.php">
                        <img src="assets/img/logo-v2.png" style="width: 300px"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div id="myNav" class="overlay">
                        <div class="overlay-content" style="overflow-x: hidden">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="index.php">
                                        <img src="assets/img/logo-v2.png"/>
                                    </a>
                                </div>
                                <div class="col-md-4" style="margin-top: 20px">
                                    <a href="index.php?action=boodschappenlijst"><h1 class="green">Boodschappenlijst</h1></a>
                                </div>
                                <div class="col-md-4" style="margin-top: 20px;">
                                    <a href="index.php?action=favorieten_tonen"><h1 class="green">Favorieten</h1></a>
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: right; margin-right: 54px;">
                        <div class="col-lg-10">
                            <div class="search-container" style="margin-top: 20px">
                                <form action="index.php?action=zoeken" method="POST" autocomplete="off">
                                    <div class="autocomplete">
                                        <input id="myInput" type="text" placeholder="Recept zoeken..." name="keyword">
                                    </div>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div style="font-size: 60px; 
                                        cursor: pointer; 
                                        color: var(--lighter-orange);"
                                onclick="openNav()">&#9776;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        function openNav() {
            document.getElementById("myNav").className += " overlay-open";
        }

        function closeNav() {
            document.getElementById("myNav").className = "overlay-closed overlay";
        }
    </script>

    <script>
        function autocomplete(inp, arr) {

            var currentFocus;
            inp.addEventListener("input", function(e) {

                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {

                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {

                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function(e) {

                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function(e) {

                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {

                    currentFocus++;
                    addActive(x);
                } 
                
                else if (e.keyCode == 38) { 

                    currentFocus--;
                    addActive(x);
                } 
                
                else if (e.keyCode == 13) {

                    e.preventDefault();
                    if (currentFocus > -1) {

                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {

                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {

                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {

                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {

                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }

            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        let suggestions = [{% for record in data %}
                                "{{record.keuken}}",
                                "{{record.titel_recept}}",
                                "{{record.type}}",
                                {% for ingredient in record.ingredienten %}
                                    "{{ingredient.titel_artikel}}",
                                {% endfor %}
                            {% endfor %}];
        var suggestions_once = [...new Set(suggestions)];

        console.log(suggestions_once);

        autocomplete(document.getElementById("myInput"), suggestions_once);
    </script>

{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-title green">
                <div class="row" style="margin-left: 20px">
                    <div class="col-6">
                        <h1>Boodschappenlijst</h1>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                            <h2>Aantal</h2>
                            </div>
                            <div class="col-4">
                                <h2>Prijs</h2>
                            </div>
                            <div class="col-4">
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
            <div class="card-text" style="max-height: 550px; overflow-y: auto; overflow-x: hidden">
                {% set totaal_prijs = 0 %}
                {% for record in data %}
                    {% set prijs_artikel = record.prijs_per_artikel %}
                    {% set totaal_prijs = totaal_prijs + (prijs_artikel * record.aantal_verpakkingen) %}
                    <div class="row" style="padding: 20px;">
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col-2" style="min-width: 115px">
                                    <img src="{{record.artikelfoto}}" style="max-width: 100px; max-height: 100px;">
                                </div>
                                <div class="col-10" style="max-width: 200px">
                                    <h3 class="green detail-txt">{{record.titel_artikel}}</h3>
                                    <div>{{record.artikelbeschrijving}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-4">
                                    {{record.aantal_verpakkingen}}
                                </div>
                                <div class="col-4">
                                    <i class="fas fa-euro-sign" style="color: var(--darker-red)"></i> 
                                    {{prijs_artikel|number_format(2, ',', '.')}}
                                </div>
                                <div class="col-4">
                                <a class="fas fa-trash-alt" 
                                    href="index.php?action=boodschappen_verwijderen&artikel_id={{record.artikel_id}}" 
                                    style="font-size: 20px; color: var(--darker-red)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="card-text" style="margin-left: 20px; margin-top: 20px;">
                <div class="row">
                    <div class="col-6">
                            <h1 class="green">Totaal: </h1>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-4">
                                <i class="fas fa-euro-sign" style="color: var(--darker-red); font-size: 30px; display: inline;"></i>
                                <div style="display: inline; font-size: 30px;">{{totaal_prijs|number_format(2, ',', '.')}}</div>
                            </div>
                            <div class="col-4">
                                <a class="fas fa-trash-alt" href="index.php?action=lijst_verwijderen" style="font-size: 30px; color: var(--darker-red)"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}