{% extends "main.html.twig" %}


{% block banner %}

    {% for record in data %}
        <div style="height: 400px; overflow: hidden;">
            <img src="{{record.receptfoto}}" class="w-100">
        </div>
        <div class="carousel-text">
            <div class="row">
                <div class="col-6">
                    <a href="index.php">
                        <img src="assets/img/logo-v2.png" style="width: 300px"/>
                    </a>
                </div>
                <div class="col-6">
                    <div id="myNav" class="overlay">
                        <div class="overlay-content" style="overflow-x: hidden">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="index.php">
                                        <img src="assets/img/logo-v2.png" style="width: 250px; margin-left: 20px"/>
                                    </a>
                                </div>
                                <div class="col-md-4" style="margin-top: 20px">
                                    <a href="index.php?action=boodschappenlijst"><h1 class="green">Boodschappenlijst</h1></a>
                                </div>
                                <div class="col-md-3" style="margin-top: 20px;">
                                    <a href="index.php?action=favorieten_tonen"><h1 class="green">Favorieten</h1></a>
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="font-size: 60px; cursor: pointer; color: var(--lighter-orange); text-align: right; margin-right: 30px" onclick="openNav()">&#9776;</div>
                </div>
            </div>
        </div>


    {% endfor %}

    <script>
        function openNav() {
            document.getElementById("myNav").style.height = "20%";
        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>

{% endblock %}



{% block content %}

    {% for record in data %}
       
        <script>
            $(document).ready( function() {

                $(".fa-star").click(function() {
                    var value = $(this).attr("data-value");
                    $('.fa-star').each((index, elem) => {
                        $(elem).removeClass("fas");
                        $(elem).addClass("far");
                        var itemValue = $(elem).attr('data-value');
                        if(itemValue <= value) {
                            $(elem).removeClass("far");
                            $(elem).addClass("fas");
                        }
                    })
                    $.ajax({
                        url: "index.php?action=score_geven&recept_id={{record.id}}",
                        method: "POST",
                        data: {rating: value},
                        success: function(response) {
                            console.log(response);
                        }
                    })
                })
               
                $(".fa-heart").click(function() {

                    let favo = $(this).attr("data-favoriet");
                    
                    if(favo == "yes") {
                        $(".fa-heart").removeClass("fas");
                        $(".fa-heart").addClass("far");
                    }

                    else {
                        $(".fa-heart").removeClass("far");
                        $(".fa-heart").addClass("fas");
                    }

                    $.ajax({
                        url: "index.php?action=favoriet&recept_id={{record.id}}",
                        method: "POST",
                        data: {rating: favo},
                        success: function(response) {
                            console.log(response);
                        }
                    }) 
                });
            });    
        </script>

        <div class="card" style="overflow: hidden; min-height: 420px">
            <div class="row no-gutters">
                <div class="col-md-5" style= "overflow: hidden; height: 420px;">
                    <div style="width: 1000px">
                        <img class="card-img" src="{{record.receptfoto}}">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <i class="fas fa-users" style="color: var(--darker-red)"></i> 4
                                </div>

                                <div class="col-4">
                                    <i class="fas fa-euro-sign" style="color: var(--darker-red)"></i> 
                                    {{((record.totale_prijs / 4)|round(2))|number_format(2, ',', '.')}}
                                </div>

                                <div class="col-4">
                                    <i class="fas fa-fire-alt" style="color: var(--darker-red)"></i> 
                                    {{(record.totale_calorieen / 4)|round}}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <h1 class="card-title" style="color: var(--lighter-green)">
                                        {{record.titel_recept}}
                                    </h1>
                                </div>
                                <div class="col-lg-4" style="margin-top: 10px">
                                    {% for i in 1..5 %}
                                        {% if loop.index <= record.score %}
                                            <i class="fas fa-star" data-value="{{loop.index}}"></i>
                                        {% else %}
                                            <i class="far fa-star" data-value="{{loop.index}}"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3 class="green">Type: {{record.type}}</h3>
                                </div>
                                <div class="col-lg-6">
                                    <h3 class="green">Keuken: {{record.keuken}}</h3>
                                </div>
                            </div>
                            <p class="card-text">
                                {{record.receptbeschrijving}}
                            </p>
                            <div class="row">
                                <div class="col-lg-5">
                                    <a href="index.php?recept_id={{record.id}}&action=boodschappen_toevoegen" 
                                        class="btn btn-primary button-red">
                                        <h4>Op lijst</h4></a>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        {% if record.mijn_favoriet %}
                                            <i class="fas fa-heart" data-favoriet="yes"></i>
                                        {% else %}
                                            <i class="far fa-heart" data-favoriet="no"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabbable" id="tabs-931106" style="margin-top: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" href="#tab1" data-toggle="tab" style="border-width: 5px">
                        <h3 style="color: var(--lighter-green)">Ingrediënten</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab" style="border-width: 5px">
                        <h3 style="color: var(--lighter-green)">Bereidingswijze</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab3" data-toggle="tab" style="border-width: 5px">
                        <h3 style="color: var(--lighter-green)">Opmerkingen</h3>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
            
                <div class="tab-pane active tab-details" id="tab1">
                    {% for ingredient in record.ingredienten %}
                        <div class="row" style="padding: 20px;">
                            <div class="col-2" style="min-width: 115px">
                                <img src="{{ingredient.artikelfoto}}" style="max-width: 100px; max-height: 100px;">
                            </div>
                            <div class="col-10">
                                <h3 class="green detail-txt">{{ingredient.titel_artikel}}</h3>
                                <div>{{ingredient.artikelbeschrijving}}</div>
                                <h5 class="green" style="display: inline">Hoeveelheid: </h5>
                                <div style="display: inline">{{ingredient.ingredienthoeveelheid}} {{ingredient.verpakking}}</div>
                            </div>
                        </div>                                       
                    {% endfor %}
                </div>

                <div class="tab-pane tab-details" id="tab2">
                    {% for bereidingswijze in record.bereidingswijze %}

                        <div class="row" style="padding: 20px;">
                            <div class="col-1" style="min-width: 80px">
                                <div class="circle">
                                    <div class="circle-txt">
                                    {{bereidingswijze.nummeriekveld}}.
                                    </div>
                                </div>
                            </div>
                            <div class="col-11 detail-txt" style="margin-top: 10px">
                                {{bereidingswijze.tekstveld}}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="tab-pane tab-details" id="tab3">
                    {% for opmerking in record.opmerkingen %}
                        <div class="row" style="padding: 20px;">
                            <div class="col-2" style="min-width: 115px">
                                <img src="{{opmerking.gebruiker_foto}}" style="max-width: 100px; max-height: 100px;">
                            </div>
                            <div class="col-10">
                                <h3 class="green detail-txt">{{opmerking.gebruiker_naam}}</h3>
                                <div>{{opmerking.tekstveld}}</div>
                                <h5 class="green" style="display: inline">Geplaatst: </h5>
                                <div style="display: inline">{{opmerking.datum}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock %}