{% extends "main.html.twig" %}

{% block banner %}

    <div class="container">
        <div id="carousel" class="carousel slide w-100" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="height: 400px;">
                <div class="carousel-item active">
                    <div class="d-block w-100"
                        style="height: 400px;
                                overflow: hidden;
                                background-image: url('afbeeldingen/naanbroodpizza.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center center;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100"
                        style="height: 400px;
                                overflow: hidden;
                                background-image: url('afbeeldingen/courgettesoep.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center center;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100"
                        style="height: 400px;
                                overflow: hidden;
                                background-image: url('afbeeldingen/enchiladas.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center center;">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" data-slide="prev" style="width: 0px">
                <span class="carousel-control-prev-icon"></span> 
                <span class="sr-only">Previous</span></a> 
                <a class="carousel-control-next" href="#carousel" data-slide="next" style="width: 0px">
                <span class="carousel-control-next-icon"></span> 
                <span class="sr-only">Next</span></a>
            </div>
        </div>
        <div class="carousel-text">
            <div class="row">
                <div class="col-md-4">
                    <a href="index.php">
                        <img src="assets/img/logo-v2.png" style="width: 300px"/>
                    </a>
                </div>
                <div class="col-md-8">
                    <div id="myNav" class="overlay">
                        <div class="overlay-content" style="overflow-x: hidden">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="index.php">
                                        <img src="assets/img/logo-v2.png"/>
                                    </a>
                                </div>
                                <div class="col-md-4" style="margin-top: 20px">
                                    <a href="index.php?action=boodschappenlijst"><h1 class="green">Boodschappenlijst</h1></a>
                                </div>
                                <div class="col-md-4" style="margin-top: 20px;">
                                    <a href="index.php?action=favorieten_tonen"><h1 class="green">Favorieten</h1></a>
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row search-box">
                        <div class="col-md-11">
                            <div class="search-container" style="margin-top: 20px">
                                <form action="index.php?action=zoeken" method="POST" autocomplete="off">
                                    <div class="autocomplete">
                                        <input id="myInput" type="text" placeholder="Recept zoeken..." name="keyword">
                                    </div>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div style="font-size: 60px; 
                                        cursor: pointer; 
                                        color: var(--lighter-orange);"
                                onclick="openNav()">&#9776;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function openNav() {
            document.getElementById("myNav").className += " overlay-open";
        }

        function closeNav() {
            document.getElementById("myNav").className = "overlay-closed overlay";
        }
    </script>

    <script>
        function autocomplete(inp, arr) {

            var currentFocus;
            inp.addEventListener("input", function(e) {

                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {

                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {

                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function(e) {

                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function(e) {

                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {

                    currentFocus++;
                    addActive(x);
                } 
                
                else if (e.keyCode == 38) { 

                    currentFocus--;
                    addActive(x);
                } 
                
                else if (e.keyCode == 13) {

                    e.preventDefault();
                    if (currentFocus > -1) {

                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {

                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {

                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {

                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {

                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }

            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        let suggestions = [{% for record in data %}
                                "{{record.keuken}}",
                                "{{record.type}}",
                                "{{record.titel_recept}}",
                                {% for ingredient in record.ingredienten %}
                                    "{{ingredient.titel_artikel}}",
                                {% endfor %}
                            {% endfor %}];
        var suggestions_once = [...new Set(suggestions)];

        console.log(suggestions_once);

        autocomplete(document.getElementById("myInput"), suggestions_once);
    </script>

{% endblock %}


{% block content %}

    {% if data %}

        <div class="row g-5 row-flex">

            {% for record in data %}
                <div class="col-lg-6">
                    <div class="card content">
                        <div style="background-image: url('{{record.receptfoto}}');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center center;
                                    height: 250px;
                                    overflow: hidden;">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h1 class="card-title" style="color: var(--lighter-green)">
                                        {{record.titel_recept}}
                                    </h1>
                                </div>
                                <div class="col-lg-4">
                                    {% for i in 1..5 %}
                                        {% if loop.index <= record.score %}
                                            <i class="fas fa-star hpstar" data-value="{{loop.index}}"></i>
                                        {% else %}
                                            <i class="far fa-star hpstar" data-value="{{loop.index}}"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 green">
                                    <h3>Type: {{record.type}}</h3>
                                </div>
                                <div class="col-sm-6 green">
                                    <h3>Keuken: {{record.keuken}}</h3>
                                </div>
                            </div>
                            <p class="card-text" style="min-height: 100px; font-size: 15;">
                                {{record.samenvatting_beschrijving}}
                            </p>
                            <div class="row">
                                <div class="col-lg-5">
                                    <a href="index.php?recept_id={{record.id}}&action=detailpagina" 
                                        class="btn btn-primary button-red">
                                        <h4>Smullen!</h4></a> 
                                </div>
                                <div class="col-lg-7" style="margin-top: 10px">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fas fa-users" style="color: var(--darker-red)"></i> 4
                                        </div>

                                        <div class="col-4">
                                            <i class="fas fa-euro-sign" style="color: var(--darker-red)"></i> 
                                            {{((record.totale_prijs / 4)|round(2))|number_format(2, ',', '.')}}
                                        </div>

                                        <div class="col-4">
                                            <i class="fas fa-fire-alt" style="color: var(--darker-red)"></i> 
                                            {{(record.totale_calorieen / 4)|round}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    {% else %}
        <div class="row g-5">
            <div class="col-6">
                <div class="card">
                    <h1 class="card-title green" style="text-align: center; margin-top: 20px;">
                        Geen recepten gevonden
                    </h1>
                    <img src="afbeeldingen/winkelmandje.jpg">

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}